.SearchSection{
    min-height: 60vh;
    background: #FFFBF2;
    padding: 50px 0;
}
.TextBox{
    text-align: center; 
}
.MainText{
    font-size: 35px;
    font-weight: 600;
}

.SubText{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #807F81;
}

.Row{
    display: grid;
    grid-template-columns: repeat(auto-fit,18%);
    padding: 10px 40px;
    justify-content: center;
    margin: 50px 0 20px 0;
}
.Row2{
    display: grid;
    grid-template-columns: repeat(auto-fit,30%);
    padding: 10px 40px;
    justify-content: center;
    margin: 50px 0 20px 0;
}
.Row3{
    display: grid;
    grid-template-columns: repeat(auto-fit,30%);
    padding: 10px 40px;
    justify-content: center;
    margin: 50px 0 20px 0;
}
.Col{
    margin: 10px;
    width: 80%;
    text-align: center;
}

.Col img{
    width: 90px;
    height: 90px;
}
.ButtonContainer{
    text-align: center;
}
.Button{
    background: #3BC08B;
}

@media screen and (max-width: 480px) {
    .SearchSection{
        min-height: 60vh;
        background: #FFFBF2;
    }
    .Row{
        grid-template-columns: repeat(auto-fit,90%);
        padding: 10px 20px;
        justify-content: center;
    }
    .Row2{
        grid-template-columns: repeat(auto-fit,90%);
        padding: 10px 20px;
        justify-content: center;
    }
    .Row3{
        grid-template-columns: repeat(auto-fit,90%);
        padding: 10px 20px;
        justify-content: center;
    }
    .Col{
        width: 100%;
    }
  }